@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["curso"]</h3>

<adress><strong>Email: </strong><a href="http://www.outlook.com">cleidsonestevamdasilva@hotmail.com</a><br></adress>
<p>Em busca da evolução como DEV</p>
